<html> <!--Mark 1-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word Imputation Model</title>

    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/first.css">
    <link rel="stylesheet" href="../static/css/second.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="logo"><a href="/">MAJOR PROJECT</a></div>
        <ul>
            <li><a class="active" href="/">About</a></li>
            <li><a href="document">Upload Document</a></li>
            <li><a href="sentence">Impute Sentence</a></li>
        </ul>
    </nav>
    
    {% block app_content %}{% endblock %}        
    <!-- <ng-view></ng-view> -->
    <!-- Scripts -->
    <!-- <script src="libs/angular.js"></script> 
    <script src="libs/angular-route.js"></script> 
    <script src="libs/jquery.js"></script>
    <script src="app.js"></script> -->

    
    <script type="text/javascript">
        
    </script>
</body>
</html>